*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(images/banner.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 3%;
    justify-content: space-between;
    align-content: center;
}
nav img{
    width: 150px;
    padding-top: 5px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 18px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    background: #000;
    transition: 0.5s;
}
nav .fas{
    display: none;
}

@media(max-width: 700px){
    .text-box h1{
        font-size: 36px;
    }
    nav img{
        width: 100px;
        padding-top: 10px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 0.75s;
    }
    nav .fas{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
}

/*-----About-----*/
.about{
    width: 80%;
    margin: auto;
    text-align: left;
    padding-top: 100px;
}
h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    color: #777;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top: 3%;
    display: flex;
    justify-content: space-between;
}
.about-col{
    flex-basis: 48%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
h3{
    text-align: left;
    font-weight: 600;
    margin: 20px 10px;
}
.about-col:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}
@media(max-width: 700px){
    .row{
        padding-top: 20px;
        flex-direction: column;
    }
}

/*-----Projects-----*/
.projects{
    width: 80%;
    margin: auto;
    text-align: left;
    padding-top: 50px;
}
.projects img{
    padding-bottom: 30px;
}
.projects-col{
    flex-basis: 60%;
    background: #333333;
    border-radius: 10px;
    margin-bottom: 30px;
    padding: 20px 12px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}